body, html {
	font-family: 'Noto Sans', sans-serif;
	scroll-behavior: smooth;
}
.navbar-brand img {
	width: 60px;
}
.navbar-toggler-icon {
	color: #060606;
}
.navbar {
	background-color: #3E63B6;
	padding: 0 30px;
}
.nav-link {
	color: #FFFFFF;
}
.nav-link:hover {
	color: #FFC000;
}
.form-control {
	border: solid #ffc000 2px;
	border-radius: 25px;
}
.btn {
	border: solid #ffc000 2px;
	border-radius: 25px;
	font-size: 22px;
	padding: 6px 8px;
	background-color: white;
}

@media only screen and (max-width : 992px) {
.btn {
	display: none;
}
}
.container {
	margin-top: 100px;
}
.col-sm-8 {
	padding: 0 50px 0 0;
}
.col-sm-5 {
	padding: 0;
}
.news-box img {
	width: 250px;
	height: 150px;
}
.col-sm-7 {
	padding: 0;
}
.news-text h5 {
	color: #3E63B6;
}
.news-text p {
	margin: 0;
	text-align: justify;
}
.news-text a {
	text-decoration: none;
	color: #3E63B6;
}
.news-text a:hover {
	color: #FFC000;
}
.col-sm-9 {
	padding: 0;
}
.col-sm-9 h3 {
	color: #3E63B6;
}
.col-sm-9 h5 {
	color: #FFC000;
}
.col-sm-3 h3 {
	color: #3E63B6;
}
.col-sm-12 {
	padding: 0;
}
#hot-topic {
	padding: 0;
}
.hot-news {
	margin-top: 40px;
}
.hot-news img {
	width: 200px;
	height: 200px;
	display: block;
	margin: 0 auto;
}
.carousel-caption {
	bottom: -10px;
}

.row {
	margin: 20px 0 0 0;
}
.col-sm-4 {
	padding: 0;
}
.col-sm-3 {
	padding: 10px 40px 0 0;
}
.col-sm-3 h4 {
	color: #FFC000;
	border-bottom: solid #FFC000 3px;
}
.col-sm-3 p {
	margin: 0;
	color: #FFFFFF;
	font-size: 1em;
}
.col-sm-3 ul {
	list-style: none;
	padding: 0;
}
.col-sm-3 a {
	text-decoration: none;
	color: #FFFFFF;
}
.col-sm-3 a:hover {
	color: #FFC000;
}
.page-footer {
	background-color: #3E63B6;
}
#kontak {
	margin-bottom: 20px;
}
.form-group {
	margin-bottom: 10px;
}
.card-footer {
	background-color: rgba(244,244,244,1.00);
	padding: 10px;
}
.card-footer p {
	font-size: 0.7em;
	margin: 0 auto;
	text-align: center;
}
.gallery-icon img {
	width: 60px;
	height: 60px;
}
.scroll-top img {
	z-index: 1;
	position: fixed;
	right: 10px;
	bottom: 20px;
	width: 40px;
}