body, html {
	font-family: 'Noto Sans', sans-serif;
	scroll-behavior: smooth;
}
.navbar-brand img {
	width: 60px;
}
.navbar-toggler-icon {
	color: #060606;
}
.navbar {
	background-color: #3E63B6;
	padding: 0 30px;
}
.nav-link {
	color: #FFFFFF;
}
.nav-link:hover {
	color: #FFC000;
}
.form-control {
	border: solid #ffc000 2px;
	border-radius: 25px;
}
.btn {
	border: solid #ffc000 2px;
	border-radius: 25px;
	font-size: 22px;
	padding: 6px 8px;
	background-color: white;
}

@media only screen and (max-width : 992px) {
.btn {
	display: none;
}
}
#title {
	margin-top: 100px;
}
.logo img {
	width: 300px;
	margin: 0 auto;
	display: block;
}
.struktur-text {
	margin-top: 20px;
}
.struktur-text p {
	text-align: justify;
	font-size: 0.9em;
}
.bullet {
	width: 30px;
}
.jabatan {
	width: 600px;
	padding-right: 10px;
}
.colon {
	width: 20px;
}
.sub-departemen {
	margin-bottom: 20px;
}
.ketua {
	width: 300px;
}
.sekretaris {
	width: 300px;
}
.row {
	margin: 20px 0 0 0;
}
.col-sm-4 {
	padding: 0;
}
.col-sm-3 {
	padding: 10px 40px 0 0;
}
.col-sm-3 h4 {
	color: #FFC000;
	border-bottom: solid #FFC000 3px;
}
.col-sm-3 p {
	margin: 0;
	color: #FFFFFF;
	font-size: 1em;
}
.col-sm-3 ul {
	list-style: none;
	padding: 0;
}
.col-sm-3 a {
	text-decoration: none;
	color: #FFFFFF;
}
.col-sm-3 a:hover {
	color: #FFC000;
}
.page-footer {
	background-color: #3E63B6;
}
#kontak {
	margin-bottom: 20px;
}
.form-group {
	margin-bottom: 10px;
}
.card-footer {
	background-color: rgba(244,244,244,1.00);
	padding: 10px;
}
.card-footer p {
	font-size: 0.7em;
	margin: 0 auto;
	text-align: center;
}
.gallery-icon img {
	width: 60px;
	height: 60px;
}
.scroll-top img {
	z-index: 1;
	position: fixed;
	right: 10px;
	bottom: 20px;
	width: 40px;
}
